body{
    background-image: url("img/background.jpg");
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    display:flex;
    
}
.head{
    font-size: 6rem;
    margin-top: -10rem;
    color: #fff;
}
.big-text{
    font-size: 3rem;
    margin: 0 2rem;
    color:#fff;
}
.countdown-el{
    text-align: center;
    color: #fff;
}
.countdown-el span{
    font-size: 1.5rem;
    font-style: italic;
    color: #fff;
    
}